html {
    box-sizing: border-box;
}

*,
*::before,
*:after {
    box-sizing: inherit;
}
/*making the border-sizing as border-box*/


/*general styles*/
body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

.container {
    width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: inline-block;
    padding: 17px 34px 16px;
    border-radius: 6px;
    transition: 0.3 ease;
    text-transform: uppercase;
    text-decoration: none;
  }

.sect__title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}
/*End of general styles*/


/*style of top_screen*/
.top-screen {
    min-height: 601px;
    padding-top: 50px;
    background-image: url("../images/topscreenbcimg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}
    
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 155px;
}
    
.logo-codem {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    align-items: center;
}
    
.logo-title {
    margin-left: 10px;
}
    
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 30px 0 0;
    padding: 0;
}
    
.menu-item + .menu-item {
    margin-left: 20px;
}
    
.menu-link {
    line-height: 17px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
    
.menu-link.active {
    font-weight: 700;
}
    
.contact-block {
    width: 120px;
    height: 40px;
    border: 1px solid white;
    border-radius: 6px;
}
    
.contact-block-link {
    padding: 10px 15px;
    transition: 0.5s ease;
    color: #fff;
}
    
.contact-block-link:hover {
    color: #261C2C;
    background-color: #6E85B2;
}
    
.hero {
    width: 560px;
    margin: 0 auto;
    text-align: center;
}
    
.hero-title {
    margin: 0 auto;
    font-weight: 700;
    font-size: 72px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 75px;
}
    
.hero-descr {
    font-weight: 400;
    font-size: 24;
    margin-bottom: 25px;
}
    
.hero-btn {
    padding: 15px 34px;
    font-weight: 400;
    color: #ED4C5C;
    font-size: 14px;
    background-color: #fff;
}
    
.hero-btn:hover {
    background-color: #6E85B2;
}
/*end of top_screen style*/


/*styles for video section*/
.sect__video {
    padding-top: 50px;
    padding-bottom: 88px;
}

.aboutus {
    margin-bottom: 55px;
}

/*section inner and section column could be as general styles*/
.sect__inner {
    display: flex;
    align-items: center;
}

.sect__column {
    max-width: 540px;
    padding-right: 95px;
}

.video__description {
    line-height: 140%;
    /* or 20px */
    text-align: justify;
}

.video__player {
    width: 530px;
    height: 300px;
    border-radius: 15px;
}
/* end of video section style*/


/*style for gallery*/
